/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-May-2017, 12:18:54
    Author     : Tomas Gilvonauskas
*/

.clear {
    clear:both;
}

.header {
    margin: 10px 0 20px 0;
}

.eshop-logo {
    float:left;
}

.top-right-btns-holder {
    float: right;
    width: 240px;
}

.cart-indicator {
    margin-right: 10px;
}

.item-wrapper {
    padding: 5px;
}

.item-wrapper img {
    max-width: 100%;
}

#footer {
    padding: 20px 0;
    text-align: center;
}

.table.cart-table td {
    vertical-align: middle;
}

.cart-img {
    max-width: 100px;
    margin-bottom: 10px;
}
.cart-item-title {
    max-width: 100px;
}

.red {
    color: red;
}

.width20proc {
    float:left;
    width:20%;
    padding-left: 15px;
    padding-right: 15px;
}
.product-box-component {
    margin-top: 10px;
}

@media (max-width: 992px) {
    .width20proc {
        width:100%;
    }
    .width20proc img {
        float: left;
        width: 20%;
        margin-right: 5%;
    }
    .width20proc .product-box-component {
        float:left;
        width: 70%;
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    .item-wrapper {
        border-top: 1px solid #ddd;
    }
    
    .cart-quantity-input {
        min-width: 62px;
        font-size: 12px;
    }
    
    .table td  {
        font-size: 12px;
    }
    
    .cart-img {
        max-width: 50px;
        height: auto;
    }
    .cart-item-title {
        max-width: 50px;
    }
}
